.card-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}
.card-section img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-section .card{
  background: purple;
  max-width: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.card-section button{
  background: orange;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 20px 0px;

}
.card-section span{
  color: rgb(61, 232, 9);
  font-size: 20px;
  font-weight: bold;
}