.hero-container{
  display: flex;
  background-color: lightgreen;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 20px;
}
div img {
  width: 100%;
  height: 50%;
}
body{
  max-width: 1200px;
  background-color: antiquewhite;
  margin: auto;
}
.hero-container button{
  background-color: orange;
  border: none;
padding: 15px 25px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;}